
@model SearchFilterAndDataModel;
@{
    ViewData["Title"] = "AdminViewRecruiter";
    Layout = "~/Views/Shared/_AdminRecruiterLayout.cshtml";
}

<form asp-action="AdminViewRecruiter" asp-controller="Recruiter" method="get" class="mb-5">
    <div class="row">

        <div class="col-md-6">
            <select asp-items="@(new SelectList(Model.Companies,"Id","CompanyName"))" asp-for="ViewRecruiterViewModel.FirstOrDefault().CompanyId" name="CompanyId" class="form-control">
            </select>
        </div>

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary form-control">Search</button>
        </div>

    </div>
</form>

<!-- Basic table -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Recruiters</h5>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @{ 
                foreach (var item in Model.ViewRecruiterViewModel)
                {

                    int count = 0;
                    count = count + 1;

                    <tr>
                        <td>@count</td>
                        <td>@item.FullName</td>
                        <td>@item.Username</td>
                        <td>@item.CompanyName</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Recruiter" asp-route-id="@item.RecruiterId" class="btn btn-primary"> Edit </a>
                            <a asp-action="Edit" asp-controller="Recruiter" asp-route-id="@item.RecruiterId" class="btn btn-danger"> Delete </a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!-- /basic table -->
